<div class="container">
  <div class="form-group">
  <form style="margin-top:20px" action="/notice/writego" method="POST">
    <input type="text" class="form-control" name="sosuda" value="sosuda" readonly>
    <input type="text" class="form-control" name="notice_title" placeholder="제목을 입력하세요">
    <textarea class="form-control" name="content" rows="10" placeholder="내용을 입력하세요"></textarea>
    <button type="submit" class="btn btn-primary">완료</button>
  </form>
  </div>
</div>
